<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Página</title>
    <link rel="stylesheet" href="/css/create.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    {{> layout }}
    <main>
        <form id="createPageForm" action="/pages/create" method="POST">
            <label for="url">URL da Página:</label>
            <input type="text" id="url" name="url" required>
            
            <label for="content">Conteúdo da Página:</label>
            <textarea id="content" name="content" rows="10" required></textarea>
            
            <label for="category">Categoria:</label>
            <select id="category" name="category">
                {{#categories}}
                    <option value="">Selecionar Categoria</option>
                    <option value="{{.}}">{{.}}</option>
                {{/categories}}
                {{^categories}}
                    <option value="">Nenhuma categoria foi crianda ainda</option>
                {{/categories}}
            </select>
            
            <label for="newCategory">Nova Categoria:</label>
            <input type="text" id="newCategory" name="newCategory">

            <button type="submit">Criar Página</button>
        </form>
    </main>

    <script>
        document.getElementById('createPageForm').addEventListener('submit', function(event) {
            const categorySelect = document.getElementById('category');
            const newCategoryInput = document.getElementById('newCategory');

            if (categorySelect.value === '' && newCategoryInput.value.trim() === '') {
                event.preventDefault();
                Swal.fire({
                    title: 'Por favor, selecione uma categoria existente ou crie uma nova categoria.',
                    showCancelButton: false,
                    confirmButtonText: 'OK'
                });
            }
        });
    </script>
</body>
</html>
