<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    {{> layout }}
    <main>
        {{#categories}}
            <section class="category">
                <h2>{{name}}</h2>
                <ul class="pages">
                    {{#pages}}
                    <a href="/pages{{url}}">
                        <li>{{name}}</li>
                    </a>
                    {{/pages}}
                </ul>
            </section>
        {{/categories}}
        {{^categories}}
            <section class="no-pages">
                <p>
                    Nenhuma pagina foi criada ainda! 
                </p>
            </section>
        {{/categories}}
    </main>
</body>
</html>
