<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="/img/logo.png" alt="Content Sphere Logo" style="height: 50px; vertical-align: middle;">
                <span>Content Sphere</span>
            </div>
            <h2>{{titulo}}</h2>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="/home">Página Inicial</a></li>
            <li><a href="/pages/create">Criar Página</a></li>
            <li><a href="/{{login}}">{{login}}</a></li>
        </ul>
    </nav>

    <footer>
        <p>&copy; 2024 Content Sphere.<br> Desenvolvido por: André Troise Agostinis, Beatriz Aparecidsa Banaki de Campos e Rafael de Palma Francisco.</p>
    </footer>
</body>
</html>
