/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

main {
    margin-bottom: 100px;
}

.page-content {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os links de edição, exclusão e voltar */
.edit-link, .delete-button, .back-link {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}

.edit-link {
    background-color: #007BFF;
}

.edit-link:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #FF4136;
    border: none;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #C32E23;
}

.back-link {
    background-color: #AAAAAA;
}

.back-link:hover {
    background-color: #888888;
}



